<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EduPlatform</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<nav th:replace="~{fragment/navbar :: navbar}"></nav>
<div class="container">
    <div class="row mb-4 align-items-center">
        <div class="col">
            <h2>Assignments to grade</h2>
        </div>
    </div>
    <hr/>

    <div th:if="${assignments.isEmpty()}" class="alert alert-info">
        No assignments to grade.
    </div>

    <div class="col-md-6">
        <div class="list-group">
            <a th:each="assignment : ${assignments}" th:href="@{/assignments/{id}(id=${assignment.id})}"
               class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                <h5 th:text="${assignment.name}">Assignment name</h5>
                <span class="text-muted small text-nowrap ms-3"
                      th:text="${assignment.dueDate != null ? 'Due: ' + #temporals.format(assignment.dueDate, 'yyyy.MM.dd HH:mm') : ''}">
                    Due: yyyy.MM.dd HH:mm
                </span>
            </a>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
